/*CSS document*/

body {
    background-color: #fef7ef;
    margin: 3em;

}

div.container {
    max-width: 70em;
    margin: 0 auto;
}

div.container-story {
    max-width: 50em;
    margin: 0 auto;
}


section{
    margin-right: 3em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

body{
    font-size: 1em;
}

a{
    text-decoration: none;
}

nav{
    margin-bottom: 2em;
    font-size: 12pt;
}

nav ul li a{
    font-family: dapifer,serif;
    font-weight: 550;
    font-style: normal;
    color: #f3b378;
    font-style: normal;
    font-size: 0.97em;
    margin-right: 1em;
    text-transform: lowercase;
    text-decoration:  none;
}

ul {
    list-style-type: none;
    padding: 0;
}


nav ul li a:hover{
    color: #696a6d;
}


h1{
    width: 5em;
}

h2{
    font-family: dapifer,serif;
    font-weight: 600;
    font-style: normal;
    color: #f19f71;
}


h3{
    font-family: dapifer,serif;
    font-weight: 550;
    font-style: normal;
    color: #f3b378;
    margin-top: 0.5em;
}

h4{
    font-family: dapifer,serif;
    font-weight: 500;
    font-style: normal;
    color: #f3b378;
}

h1:hover{
    color: #696a6d;
}

p{
    font-family: davis-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #696a6d;
}

p.section{
    font-family: davis-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #696a6d;
    margin-right: 8em;
}

footer{
    margin-top: 3em;
}

@media screen  and (min-width: 30em) {
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    div.container-story {
        max-width: 50em;
        margin: auto;
        display: grid;
        grid-template-columns: 3fr 1.5fr;
    }

    h1{
        width: 6em;
        margin: 0em;
    }

    p{
        margin-bottom: 1em;
    }
    ul li{
        display: inline;
    } 
    nav{
        margin-bottom: 2em;
        font-size: 16pt;
    }
    
    nav ul li a{
        font-family: dapifer,serif;
        font-weight: 550;
        font-style: normal;
        color: #f3b378;
        font-style: normal;
        font-size: 0.97em;
        margin-right: 1em;
        text-transform: lowercase;
        text-decoration:  none;
    }


    nav ul li a:hover{
    color: #696a6d;
    }

    header{
        grid-column: 1/3;
    }

    body{
        font-size: 1.2em;
    }
    
    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1em 2em;
       

    }
    section.mainstory {
        grid-column:1/3;
        grid-row:1/3;
    }

    section{
        margin-right: 3em;
    }

    aside{
        grid-column: 2/3;
        margin-left: 3em;
    }
}

